<a href="#/posts/new" class="btn btn-success">Create New Post</a>
<section data-ng-repeat="post in posts">
    <h2>{{post.restaurant}}</h2>
    <p>{{post.dishName}}</p>
    <p>{{post.description}}</p>
    <span style="padding:5px; color:black" ng-show="post.diet.veagan">Veagan</span>
    <span style="padding:5px; color:grey" ng-show="post.diet.veggie">Vegetarian</span>
    <span style="padding:5px; color:darkgrey" ng-show="post.diet.pescatarian">Pescatarian</span>
    <span style="padding:5px; color:black" ng-show="post.diet.carbFree">Carb Free</span>
    <span style="padding:5px; color:grey" ng-show="post.diet.carb">Low Carb</span>
    <span style="padding:5px; color:darkgrey" ng-show="post.diet.protein">High Protein</span>
    <span style="padding:5px; color:black" ng-show="post.diet.highFructose">High Fructose Corn Syrup</span>
    <span style="padding:5px; color:grey" ng-show="post.diet.organic">Organic</span>
    <span style="padding:5px; color:darkgrey" ng-show="post.diet.gmo">GMO free</span>
    <hr>
    Contains:
    <br>
    <span style="padding:5px; color:red" ng-show="post.allergens.nuts">Nuts</span>
    <span style="padding:5px; color:blue" ng-show="post.allergens.treeNuts">Tree Nuts</span>
    <span style="padding:5px; color:green" ng-show="post.allergens.milk">Milk</span>
    <span style="padding:5px; color:red" ng-show="post.allergens.dairy">Dairy</span>
    <span style="padding:5px; color:blue" ng-show="post.allergens.glucose">Wheat/Glucose</span>
    <span style="padding:5px; color:green" ng-show="post.allergens.eggs">Eggs</span>
    <span style="padding:5px; color:blue" ng-show="post.allergens.fish">Fish</span>
    <span style="padding:5px; color:red" ng-show="post.allergens.shellFish">Shellfish</span>
    <span style="padding:5px; color:green" ng-show="post.allergens.soy">Soy</span>
    <a href="#/posts/{{post._id}}">view more</a>

</section>