<div class="head-padding home-back wide row">
    <p><a href="#/posts/new" class="btn btn-success">Create New Post</a></p>
    <section data-ng-repeat="post in posts | orderBy: predicate : -reverse" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 med-padding">
        <div class="postList bg-black cl-grey text-center">
            <h2 class="lg-padding-top">{{post.restaurant}}</h2>
            <img style="max-width: 200px; height: 100px;" src="{{post.restaurantImage}}" alt="Picture of {{post.restaurant}}"/>
            <h4>{{post.dishName}}</h4>
            <img style="height:175px" src="{{post.dishImage}}" alt="Picture of {{post.dish}}"/>
            <h5>{{post.description}}</h5>
            <span ng-show="post.diet.veagan">Veagan</span>
            <span ng-show="post.diet.veggie">Vegetarian</span>
            <span ng-show="post.diet.pescatarian">Pescatarian</span>
            <span ng-show="post.diet.carbFree">Carb Free</span>
            <span ng-show="post.diet.carb">Low Carb</span>
            <span ng-show="post.diet.protein">High Protein</span>
            <span ng-show="post.diet.highFructose">High Fructose Corn Syrup</span>
            <span ng-show="post.diet.organic">Organic</span>
            <span ng-show="post.diet.gmo">GMO free</span>
            <hr>
            Contains:
            <br>
            <span ng-show="post.allergens.nuts">Nuts</span>
            <span ng-show="post.allergens.treeNuts">Tree Nuts</span>
            <span ng-show="post.allergens.milk">Milk</span>
            <span ng-show="post.allergens.dairy">Dairy</span>
            <span ng-show="post.allergens.glucose">Wheat/Glucose</span>
            <span ng-show="post.allergens.eggs">Eggs</span>
            <span ng-show="post.allergens.fish">Fish</span>
            <span ng-show="post.allergens.shellFish">Shellfish</span>
            <span ng-show="post.allergens.soy">Soy</span>
            <a href="#/posts/{{post._id}}">view more</a>
        </div>
    </section>
</div>