<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/blog">Blog</a></li>
        <li><a ng-href="#/profile">Profile</a></li>
    </ul>
  <h3 class="text-muted">Eat-to-Bite</h3>
</div>

<div style="background-image: url({{newestPost.dishImage}})" class="stretch">
    <h1>{{newestPost.restaurant}}'s {{newestPost.dishName}}</h1>
    <p><a class="btn btn-lg btn-success" ng-href="#/posts">Go to blog!</a></p>
    <article class="newestDescription">
        <span class="boxTop">{{newestPost.dishName}}</span>
        <hr/>
        <span class="boxMiddle">{{newestPost.description}}</span>
        <br/>
        <span class="boxBottom"><a href="#/posts/{{newestPost._id}}">See this dish and others from {{newestPost.restaurant}} --></a></span>
    </article>
</div>
<div class="row">
    <div ng-repeat="post in posts | limitTo : 3" class="oldLinks col-lg-4 col-md-4 col-sm-12">
        <a href="#/posts/{{post._id}}">
            {{post.dishName}}
            by
            {{post.restaurant}}
        </a>
    </div>
</div>