doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace')
        link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(name='viewport', content='width=device-width,  height=device-height, initial-scale=1')
    body.no-margin.no-padding.ovrflw-x(ng-app= ngApp )
        .header.absolute-top.wide
            h1.text-muted.inline.no-margin.v-tall.cl-grey.navHeight
                a.blank-anchor(ng-href='#')
                    span.theFont.vv-tall.lg-padding-left
                        span.cl-green-hover Eat
                        | -
                        span.cl-blue-hover to
                        | -
                        span.cl-orange-hover Bite
            ul.inline-children.text-right.inline.float-right.headerUl
                li.navButton
                    a(ng-href='#/posts')
                        i.fa.fa-newspaper-o.fa-lg
                        span.menuWords &nbsp Blog
                li.navButton
                    a(ng-href='#/search')
                        i.fa.fa-search.fa-lg
                        span.menuWords &nbsp Search
                li.navButton
                    a(ng-href='#/createProfile')
                        i.fa.fa-child.fa-lg
                        span.menuWords &nbsp Profile
                li.navButton
                    a(href='#/menus')
                        i.fa.fa-cutlery.fa-lg
                        span.menuWords &nbsp Menus
        block content
        script(src='/components/jquery/dist/jquery.js')
        script(src='/components/angular/angular.js')
        script(src='/components/angular-cookies/angular-cookies.js')
        script(src='/components/angular-sanitize/angular-sanitize.js')
        script(src='/components/angular-route/angular-route.js')
        script(src='http://maps.google.com/maps/api/js?sensor=false')
        script(src='/components/lodash/dist/lodash.js')
        script(src='/components/angular-google-maps/dist/angular-google-maps.js')
        script(src='/app.js')
        script(src='/homeCtrl.js')
        script(src='/posts/posts.js')
        script(src='/posts/postsController.js')
        script(src='/posts/postsService.js')
        script(src='/profile/profile.js')
        script(src='/profile/profileCtrl.js')
        script(src='/profile/profileSvc.js')
        script(src='/menus/menus.js')
        script(src='/menus/menusCtrl.js')
        script(src='/menus/menusSvc.js')