Create Menus List
<a href="#/menus">Menus</a>
<a href="/">Home</a>

<div class="restaurantInfo">
    <h4><em>Step 1: </em>Restaurant Information</h4>
    <form id="createRestaurant" class="block section" ng-submit="creation.addRestaurantInfo(restaurant)" ng-hide="major">
        <input class="inline" type="text" placeholder="Restauant Name" required="true" ng-model="restaurant.name"/>
        <label>Style
            <select class="block" ng-hide="other" ng-model="restaurant.style" required="true" placeholder="Style">
                <option value="American">American</option>
                <option value="Southern">Southern</option>
                <option value="Seafood">Seafood</option>
                <option value="bakedGoods">Baked Goods</option>
                <option value="Cajuan">Cajuan</option>
                <option value="Chinese">Chinese</option>
                <option value="Thai">Thai</option>
                <option value="Other" ng-click="other=!other">Other</option>
                <option value=""></option>
            </select>
        </label>
        <label class="block" for="description">Description of Restaurant (Short Sell and Hours of Operation)
            <textarea id="description" class="cl-black" rows="2" cols="50" ng-model="restaurant.description"></textarea>
        </label>
        <span ng-init="restaurant.menu = []"></span>
        <!--<span ng-hide="true" ng-init="restaurant.menudate = Date().getTime"></span>-->
        <button type="submit" ng-click="major=!major; menuMajor=!menuMajor">Next</button>
    </form>
</div>
<div class="menuMajor" >
    <h4><em>Step 2: </em>Menu Overview</h4>
    <form id="createMenuForm" ng-submit="creation.addMenu(menu)" ng-show="menuMajor">
        <label for="menuType">Menu Type
            <select name="menuType" id="menuType" required="true" ng-model="menu.type">
                <option value="breakfast">Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="dessert">Dessert</option>
            </select>
        </label>
        <label for="menuDescription" class="block">
            <textarea id="menuDescription" class="cl-black" rows="2" cols="50" ng-model="menu.description">Menu Tag Line and Description (Inspirations and Hours Served)</textarea>
        </label>
        <button type="submit" ng-click="menuMajor=!menuMajor; menuMinor=!menuMinor">Next</button>
    </form>
</div>
<div class="menuMinor">
    <h4><em>Step 3: </em>Add Section<span ng-model="menu.info.type"></span></h4>
    <form action="" ng-submit="creation.addMenuSection('breakfast', section)" ng-show="menuMinor">
        <label> Title
            <input class="inline" type="text" placeholder="e.g. Appetizer, Entree, Dessert" required="true" ng-model="section"/>
        </label>
        <button type="submit" ng-click="menuMinor=!menuMinor; dishes=!dishes">Next</button>
    </form>
</div>
<div class="menuDish">
    <h4><em>Step 4: </em>Add dish<span ng-model="section"></span></h4>
    <form action="" ng-submit="creation.addSectionDish(dish)" ng-show="dishes">
        <label> Dish Name
            <input class="inline" type="text" placeholder="Name" required="true" ng-model="dish.name"/>
        </label>
        <label class="block">
            <textarea class="cl-black" rows="2" cols="50" ng-model="dish.description">Describe the Dish...</textarea>
        </label>
        <label> Allergies
            <br/>
            <input type="checkbox" name="nuts" id="nuts" data-ng-model="dish.allergens.nuts"/> Nuts
            <input type="checkbox" name="treeNuts" id="treeNuts" data-ng-model="dish.allergens.treeNuts"/> Tree Nuts
            <input type="checkbox" name="milk" id="milk" data-ng-model="dish.allergens.milk"/> Milk
            <input type="checkbox" name="lactose" id="dairy" data-ng-model="dish.allergens.dairy"/> Dairy
            <input type="checkbox" name="glucose" id="glucose" data-ng-model="dish.allergens.glucose"/> Wheat/Glucose
            <input type="checkbox" name="eggs" id="eggs" data-ng-model="dish.allergens.eggs"/> Eggs
            <input type="checkbox" name="fish" id="fish" data-ng-model="dish.allergens.fish"/> Fish
            <input type="checkbox" name="shellfish" id="shellfish" data-ng-model="dish.allergens.shellfish"/> Shellfish
            <input type="checkbox" name="soy" id="soy" data-ng-model="dish.allergens.soy"/> Soy
        </label>
        <br/>
        <label> Qulities
            <br/>
            <input type="checkbox" name="veagan" id="veagan" data-ng-model="dish.qualities.veagan"/> Veagan
            <input type="checkbox" name="geggie" id="veggie" data-ng-model="dish.qualities.veggie"/> Vegetarian
            <input type="checkbox" name="pescatarian" id="pescatarian" data-ng-model="dish.qualities.pescatarian"/> Pescatarian
            <input type="checkbox" name="polloPesca" id="polloPesca" data-ng-model="dish.qualities.polloPesca"/>Pollo-pescetarian
            <input type="checkbox" name="carbFre" id="carbFree" data-ng-model="dish.qualities.carbFree"/> Carb Free
            <input type="checkbox" name="carb" id="carb" data-ng-model="dish.qualities.carb"/> Low Carb
            <input type="checkbox" name="protein" id="protein" data-ng-model="dish.qualities.protein"/> High Protein
            <input type="checkbox" name="highFructose" id="highFructose" data-ng-model="dish.qualities.highFructose"/> Contains No High Fructose Corn Syrup
            <input type="checkbox" name="organic" id="organic" data-ng-model="dish.qualities.organic"/> Organic
            <input type="checkbox" name="gmo" id="gmo" data-ng-model="dish.qualities.gmo"/> Free of GMO's
        </label>
        <button type="submit" ng-click="">Next</button>
    </form>
</div>