<div class="header fixed wide">
    <h1 class="text-muted inline no-margin v-tall cl-grey navHeight"><em class="med-padding-left lg-margin-top inline">{{singleRestaurant.name}}</em></h1>
    <ul class="inline-children text-right inline float-right">
        <li class="navButton"><a ng-href="#"><i class="fa fa-home fa-fw fa-lg"></i><span class="menuWords">&nbsp Home</span></a></li>
        <li class="navButton"><a ng-href="#/posts"><i class="fa fa-newspaper-o fa-lg"></i><span class="menuWords">&nbsp Blog</span></a></li>
        <li class="navButton"><a ng-href="#/search"><i class="fa fa-search fa-lg"></i><span class="menuWords">&nbsp Search</span></a></li>
        <li class="navButton" ng-show="!person.created"><a ng-href="#/createProfile"><i class="fa fa-child fa-lg"></i><span class="menuWords">Create Profile</span></a></li>
        <li class="navButton active" ng-show="person.created"><a ng-href="#/createProfile"><i class="fa fa-pencil-square-o"></i><span class="menuWords">&nbsp Edit Profile</span></a></li>
        <li class="navButton" ng-show="person.created"><a ng-href="#/profile"><i class="fa fa-user fa-lg"></i><span class="menuWords">&nbsp View Profile</span></a></li>
        <li class="navButton"><a href="#/menus"><i class="fa fa-cutlery fa-lg"></i><span class="menuWords">&nbsp Menus</span></a></li>
    </ul>
</div>
<p>{{work}}</p>

<div id="list" class="sm-padding">
    <ul class="no-margin no-decoration">
        <li class="singleRestaurant">
            <p>{{singleRestaurant.name}} <span>{{singleRestaurant.style}}</span><span>{{singleRestaurant.menus.length}} menus</span></p>
            <p>
                <a href=""><button class="seeMore" ng-show="!showMore" ng-click="showMore=!showMore">See More</button></a>
                <a href=""><button class="seeMore" ng-show="showMore" ng-click="showMore=!showMore">See Less</button></a>
                <a href=""><button class="seeMenus" ng-show="!showMenus" ng-click="showMenus=!showMenus">Menus</button></a>
                <a href=""><button class="hideMenus" ng-show="showMenus" ng-click="showMenus=!showMenus">Hide Menus</button></a>
            </p>
            <div class="info" ng-show="showMore">
                <p>{{singleRestaurant.description}}</p>
                <p><a href=""><button ng-click="showMore=!showMore">Show Less</button></a></p>
            </div>
            <ul class="no-margin no-decoration menuList" ng-show="showMenus">
                <li class="menu" ng-repeat="menu in singleRestaurant.menus">
                    <p>{{menu.name}}</p>
                    <p>{{menu.description}}</p>
                    <p>
                        <a href=""><button ng-show="!showMenu" ng-click="showMenu=!showMenu">Show Dishes</button></a>
                        <a href=""><button ng-show="showMenu" ng-click="showMenu=!showMenu">Hide Dishes</button></a>
                    </p>
                    <ul class="no-margin no-decoration sectionList" ng-show="showMenu">
                        <li class="section" ng-repeat="section in menu.sections">
                            <p>{{section.name}}</p>
                            <p>{{section.description}}</p>
                            <ul class="no-margin no-decoration dishList">
                                <li class="dish" ng-repeat="dish in section.dishes">
                                    <p>{{dish.name}}</p>
                                    <p>{{dish.description}}</p>
                                    <div class="allergens">
                                        Allergens
                                        <br>
                                        <span type="checkbox" name="nuts" id="nuts" ng-show="dish.allergens.nuts"> Nuts</span>
                                        <span type="checkbox" name="treeNuts" id="treeNuts" ng-show="dish.allergens.treeNuts"> Tree Nuts</span>
                                        <span type="checkbox" name="milk" id="milk" ng-show="dish.allergens.milk"> Milk</span>
                                        <span type="checkbox" name="lactose" id="dairy" ng-show="dish.allergens.dairy"> Dairy</span>
                                        <span type="checkbox" name="glucose" id="glucose" ng-show="dish.allergens.glucose"> Wheat/Glucose</span>
                                        <span type="checkbox" name="eggs" id="eggs" ng-show="dish.allergens.eggs"> Eggs</span>
                                        <span type="checkbox" name="fish" id="fish" ng-show="dish.allergens.fish"> Fish</span>
                                        <span type="checkbox" name="shellfish" id="shellfish" ng-show="dish.allergens.shellfish"> Shellfish</span>
                                        <span type="checkbox" name="soy" id="soy" ng-show="dish.allergens.soy"> Soy</span>
                                    </div>
                                    <div class="diet">
                                        Qualities
                                        <br>
                                        <span type="checkbox" name="veagan" id="veagan" ng-show="dish.diet.veagan"> Veagan</span>
                                        <span type="checkbox" name="geggie" id="veggie" ng-show="dish.diet.veggie"> Vegetarian</span>
                                        <span type="checkbox" name="pescatarian" id="pescatarian" ng-show="dish.diet.pescatarian"> Pescatarian</span>
                                        <span type="checkbox" name="polloPesca" id="polloPesca" ng-show="dish.diet.polloPesca">Pollo-pescetarian</span>
                                        <span type="checkbox" name="carbFre" id="carbFree" ng-show="dish.diet.carbFree"> Carb Free</span>
                                        <span type="checkbox" name="carb" id="carb" ng-show="dish.diet.carb"> Low Carb</span>
                                        <span type="checkbox" name="protein" id="protein" ng-show="dish.diet.protein"> High Protein</span>
                                        <span type="checkbox" name="highFructose" id="highFructose" ng-show="dish.diet.highFructose"> Contains No High Fructose Corn Syrup</span>
                                        <span type="checkbox" name="organic" id="organic" ng-show="dish.diet.organic"> Organic</span>
                                        <span type="checkbox" name="gmo" id="gmo" ng-show="dish.diet.gmo"> Free of GMO's</span>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href=""><button ng-show="showMenu" ng-click="showMenu=!showMenu">Hide Dishes</button></a>
                </li>
            </ul>
            <a href=""><button class="HideMenus" ng-show="showMenus" ng-click="showMenus=!showMenus">Hide Menus</button></a>
        </li>
    </ul>
</div>