<div class="block no-margin no-padding home-back  sit-up full-height wide">
    <form action="" ng-submit="makeProfile(person)" class="row xlg-padding head-padding bg-black cl-grey medium lg-padding-left block">
        <div class="formTop med-padding col-lg-3 col-md-3 col-sm-5 col-xs-12 corner">
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon corner"><i class="fa fa-user fa-fw"></i></span>
                <input class="form-control  wideInput inline corner" type="text" placeholder="First Name" ng-model="person.firstName" required="true">
            </div>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon corner"><i class="fa fa-user fa-fw"></i></span>
                <input class="form-control  wideInput corner" type="text" placeholder="Last Name" ng-model="person.lastName" required="true">
            </div>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon corner"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input class="form-control  wideInput corner" type="text" placeholder="Email Address" ng-model="person.email" required="true">
            </div>
            <div class="input-group margin-bottom-sm ">
                <span class="input-group-addon corner"><i class="fa fa-birthday-cake fa-fw"></i></span>
                <input class="form-control  wideInput inline corner" type="date" placeholder="First Name" ng-model="person.dob" required="true">
            </div>
            <div class="input-group margin-bottom-sm ">
                <span class="input-group-addon corner"><i class="fa fa-camera fa-fw"></i></span>
                <input class="form-control  wideInput inline corner" type="text" placeholder="Image Url" ng-model="person.avatar" required="true">
            </div>
            <i class="fa fa-spinner fa-spin" ng-show="!focus && focus2"></i>
        </div>
        <div class="formBottom  col-lg-9 col-md-9 col-sm-7 col-xs-12 lg-padding-left text-center med-padding row">
            <label for="preferences"> Preferred Style: &nbsp
                <select name="preference" id="preferences" ng-model="person.likes">
                    <option ng-click="american=!american" value="American">American</option>
                    <option ng-click="southern=!southern" value="Southern">Southern</option>
                    <option ng-click="seafood=!seafood" value="Seafood">Seafood</option>
                    <option ng-click="baked=!baked" value="bakedGoods">Baked Goods</option>
                    <option ng-click="cajuan=!cajuan" value="Cajuan">Cajuan</option>
                    <option ng-click="chinese=!chinese" value="Chinese">Chinese</option>
                    <option ng-click="thai=!thai" value="Thai">Thai</option>
                </select>
            </label> &nbsp &nbsp &nbsp &nbsp
            <label for="dislikes"> Aversions: &nbsp
                <select name="dislikes" id="dislikes" ng-model="person.dislikes">
                    <option ng-hide="american" value="American">American</option>
                    <option ng-hide="southern" value="Southern">Southern</option>
                    <option ng-hide="seafood" value="Seafood">Seafood</option>
                    <option ng-hide="baked" value="bakedGoods">Baked Goods</option>
                    <option ng-hide="cajuan" value="Cajuan">Cajuan</option>
                    <option ng-hide="chinese" value="Chinese">Chinese</option>
                    <option ng-hide="thai" value="Thai">Thai</option>
                </select>
            </label>
            <hr class="no-margin"/>
            <div class="formAllergens col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left lg-margin-top">
                <label> Allergies
                    <hr/>
                    <div class="selectLeft col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="checkbox" name="nuts" id="nuts" data-ng-model="person.allergens.nuts"/> Nuts
                        <br/>
                        <input type="checkbox" name="treeNuts" id="treeNuts" data-ng-model="person.allergens.treeNuts"/> Tree Nuts
                        <br/>
                        <input type="checkbox" name="milk" id="milk" data-ng-model="person.allergens.milk"/> Milk
                        <br/>
                        <input type="checkbox" name="lactose" id="dairy" data-ng-model="person.allergens.dairy"/> Dairy
                        <br/>
                        <input type="checkbox" name="glucose" id="glucose" data-ng-model="person.allergens.glucose"/> Glucose
                    </div>
                    <div class="selectRight col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="checkbox" name="eggs" id="eggs" data-ng-model="person.allergens.eggs"/> Eggs
                        <br/>
                        <input type="checkbox" name="fish" id="fish" data-ng-model="person.allergens.fish"/> Fish
                        <br/>
                        <input type="checkbox" name="shellfish" id="shellfish" data-ng-model="person.allergens.shellfish"/> Shellfish
                        <br/>
                        <input type="checkbox" name="soy" id="soy" data-ng-model="person.allergens.soy"/> Soy
                    </div>
                </label>
            </div>
            <div class="formDiet col-lg-6 col-md-6 col-sm-12 col-xs-12 text-left lg-margin-top">
                <label> Dietary Needs
                    <hr/>
                    <div class="selectLeft col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="checkbox" name="veagan" id="veagan" data-ng-model="person.diet.veagan"/> Veagan
                        <br/>
                        <input type="checkbox" name="geggie" id="veggie" data-ng-model="person.diet.veggie"/> Vegetarian
                        <br/>
                        <input type="checkbox" name="pescatarian" id="pescatarian" data-ng-model="person.diet.pescatarian"/> Pescatarian
                        <br/>
                        <input type="checkbox" name="polloPesca" id="polloPesca" data-ng-model="person.diet.polloPesca"/>Pollo-pescetarian
                        <br/>
                        <input type="checkbox" name="carbFre" id="carbFree" data-ng-model="person.diet.carbFree"/> Carb Free
                    </div>
                    <div class="selectRight col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <input type="checkbox" name="carb" id="carb" data-ng-model="person.diet.carb"/> Low Carb
                        <br/>
                        <input type="checkbox" name="protein" id="protein" data-ng-model="person.diet.protein"/> High Protein
                        <br/>
                        <input type="checkbox" name="highFructose" id="highFructose" data-ng-model="person.diet.highFructose"/> No High Fructose Corn Syrup
                        <br/>
                        <input type="checkbox" name="organic" id="organic" data-ng-model="person.diet.organic"/> Organic
                        <br/>
                        <input type="checkbox" name="gmo" id="gmo" data-ng-model="person.diet.gmo"/> Free of GMOs
                    </div>
                </label>
            </div>
        </div>
        <button class="button absolute-bottom-right" ng-show="!person.created" type="submit">Create</button>
        <button class="button absolute-bottom-right" ng-show="person.created" type="submit">Update</button>
    </form>

    <div class="row key bg-black med-padding-top cl-grey med-margin-top">
        <h3 class="no-margin lg-margin-left cl-grey text-shadow">Key</h3>
        <hr class="no-margin cl-black "/>
        <div class="keyAllergens col-lg-6 col-md-6 col-sm-6 col-xs-12 lg-padding">
            <p>Contains Allergens that do no harm:</p>
            <p>
            <div class="btn-group open bg-blue">
                <a class="btn bg-blue" href=""><i class="fa fa-user fa-fw"></i> Allergens</a>
                <a class="btn bg-blue dropdown-toggle" data-toggle="dropdown" ng-click="drop=!drop" href="">
                    <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu" ng-show="drop">
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> Soy</a></li>
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> Eggs</a></li>
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> Milk</a></li>
                </ul>
            </div>
            </p>
            <p>Contains Allergens that <em>DO</em> harm:</p>
            <p>
            <div class="btn-group open bg-red cl-grey">
                <a class="btn bg-red cl-grey" href=""><i class="fa fa-user fa-fw"></i> Allergens</a>
                <a class="btn bg-red cl-grey dropdown-toggle" data-toggle="dropdown" ng-click="drop2=!drop2" href="">
                    <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu" ng-show="drop2">
                    <li><a href=""><i class="fa fa-flag fa-fw"></i> Nuts</a></li>
                    <li><a href=""><i class="fa fa-flag fa-fw"></i> Fish</a></li>
                </ul>
            </div>
            </p>
        </div>
        <div class="keyDiet col-lg-6 col-md-6 col-sm-6 col-xs-12 lg-padding">
            <p>Meets superflouous dietary conditions:</p>
            <p>
            <div class="btn-group open bg-orange">
                <a class="btn bg-orange cl-grey" href=""><i class="fa fa-user fa-fw"></i> Qualities</a>
                <a class="btn bg-orange cl-grey dropdown-toggle" data-toggle="dropdown" ng-click="drop3=!drop3" href="">
                    <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu" ng-show="drop3">
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> High Protien</a></li>
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> GMO Free</a></li>
                    <li><a href=""><i class="fa fa-h-square fa-fw"></i> Veagan</a></li>
                </ul>
            </div>
            </p>
            <p>Meets <em>ALL</em>&nbsp Dietary Conditions</p>
            <p>
            <div class="btn-group open bg-green cl-grey">
                <a class="btn bg-green cl-grey" href=""><i class="fa fa-user fa-fw"></i> Qualities</a>
                <a class="btn bg-green cl-grey dropdown-toggle" data-toggle="dropdown" ng-click="drop4=!drop4" href="">
                    <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu" ng-show="drop4">
                    <li><a href=""><i class="fa fa-check-circle-o fa-fw"></i> Low Carb</a></li>
                    <li><a href=""><i class="fa fa-check-circle-o fa-fw"></i> Organic</a></li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>