here!
{{work}}
{{word}}
<a href="/">Home</a>

<form action="" ng-submit="makeProfile(person)">
    <input type="text" placeholder="First Name" ng-model="person.firstName" required="true"/>
    <input type="text" placeholder="Last Name" ng-model="person.lastName" required="true"/>
    <input type="text" placeholder="Email" ng-model="person.email" required="true"/>
    <label> DOB
        <input type="date" ng-model="person.dob"/>
    </label>
    <input type="text" placeholder="Image Url" ng-model="person.avatar"/>
    <label for="preferences"> Preferred Style
        <select name="preference" id="preferences" ng-model="person.likes">
            <option ng-click="american=!american" value="American">American</option>
            <option ng-click="southern=!southern" value="Southern">Southern</option>
            <option ng-click="seafood=!seafood" value="Seafood">Seafood</option>
            <option ng-click="baked=!baked" value="bakedGoods">Baked Goods</option>
            <option ng-click="cajuan=!cajuan" value="Cajuan">Cajuan</option>
            <option ng-click="chinese=!chinese" value="Chinese">Chinese</option>
            <option ng-click="thai=!thai" value="Thai">Thai</option>
        </select>
    </label>
    <label for="dislikes"> Aversions
        <select name="dislikes" id="dislikes" ng-model="person.dislikes">
            <option ng-hide="american" value="American">American</option>
            <option ng-hide="southern" value="Southern">Southern</option>
            <option ng-hide="seafood" value="Seafood">Seafood</option>
            <option ng-hide="baked" value="bakedGoods">Baked Goods</option>
            <option ng-hide="cajuan" value="Cajuan">Cajuan</option>
            <option ng-hide="chinese" value="Chinese">Chinese</option>
            <option ng-hide="thai" value="Thai">Thai</option>
        </select>
    </label>
    <label> Allergies
        <br/>
        <input type="checkbox" name="nuts" id="nuts" data-ng-model="person.allergens.nuts"/> Nuts
        <input type="checkbox" name="treeNuts" id="treeNuts" data-ng-model="person.allergens.treeNuts"/> Tree Nuts
        <input type="checkbox" name="milk" id="milk" data-ng-model="person.allergens.milk"/> Milk
        <input type="checkbox" name="lactose" id="dairy" data-ng-model="person.allergens.dairy"/> Dairy
        <input type="checkbox" name="glucose" id="glucose" data-ng-model="person.allergens.glucose"/> Wheat/Glucose
        <input type="checkbox" name="eggs" id="eggs" data-ng-model="person.allergens.eggs"/> Eggs
        <input type="checkbox" name="fish" id="fish" data-ng-model="person.allergens.fish"/> Fish
        <input type="checkbox" name="shellfish" id="shellfish" data-ng-model="person.allergens.shellfish"/> Shellfish
        <input type="checkbox" name="soy" id="soy" data-ng-model="person.allergens.soy"/> Soy
    </label>
    <br/>
    <label> Dietary Needs
        <br/>
        <input type="checkbox" name="veagan" id="veagan" data-ng-model="person.diet.veagan"/> Veagan
        <input type="checkbox" name="geggie" id="veggie" data-ng-model="person.diet.veggie"/> Vegetarian
        <input type="checkbox" name="pescatarian" id="pescatarian" data-ng-model="person.diet.pescatarian"/> Pescatarian
        <input type="checkbox" name="polloPesca" id="polloPesca" data-ng-model="person.diet.polloPesca"/>Pollo-pescetarian
        <input type="checkbox" name="carbFre" id="carbFree" data-ng-model="person.diet.carbFree"/> Carb Free
        <input type="checkbox" name="carb" id="carb" data-ng-model="person.diet.carb"/> Low Carb
        <input type="checkbox" name="protein" id="protein" data-ng-model="person.diet.protein"/> High Protein
        <input type="checkbox" name="highFructose" id="highFructose" data-ng-model="person.diet.highFructose"/> Contains No High Fructose Corn Syrup
        <input type="checkbox" name="organic" id="organic" data-ng-model="person.diet.organic"/> Organic
        <input type="checkbox" name="gmo" id="gmo" data-ng-model="person.diet.gmo"/> Free of GMO's
    </label>
    <button type="submit">Submit</button>
</form>
